@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~react-image-gallery/styles/css/image-gallery.css";
@font-face {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 400;
  src: url("./../public/Fonts/FreeSans.ttf");
}

body {
  font-family: Helvetica, sans-serif;
}
body{
  overflow-x: hidden !important;
}
.mantine-tou914 {
  background-color: transparent;
  padding: 15px !important;
  border-right: 0;
  border-radius: 0.5rem;
}
.mantine-tou914[data-active] {
  background-color: transparent;
  padding: 15px !important;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0.0625rem 0.1875rem,
    rgba(0, 0, 0, 0.05) 0px 1.25rem 1.5625rem -0.3125rem,
    rgba(0, 0, 0, 0.04) 0px 0.625rem 0.625rem -0.3125rem;
  border: 1px solid #cdcccc !important;
  border-right: 0;
  border-radius: 0.5rem;
}
.mantine-1l7xo4v {
  border: 1px solid #5d22d5;
}
.mantine-gszoqu{
  border-radius: 9px !important;
  padding: 20px;
  margin: 0;
}
.mantine-1cy5rcb{
  margin: 0;
}
.mantine-1w30zfw{
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}
.mantine-ydk0kj{
  @apply justify-start  gap-[9px] w-fit
  
}
.mantine-1svz3tp {
  @apply w-full
}
.mantine-1nh6y3l{
  @apply mt-[-2.875rem]
}
.shapeOne , .shapTwo {
  top: -101px;
  z-index: -29;
  filter: blur(7px);
}
.shapeOne{
  right: -60px;
}
.shapTwo{
  left: -28px;
  top: -18px;
}
.mantine-mqog8a:focus{
  outline: none;
  border-color: #5d22d5 !important;
}
.mantine-kegijc {
  cursor: default;
  padding-left: 0rem
}
.mantine-ges9mf {

  gap: 0rem;
 
}
.mantine-16uitr9 {
   
  position:unset;
}
.mantine-1lao2wu{
  padding-left: 0rem;
  margin-left: unset;
  
}
.mantine-vcl0d1{
     left: -50px !important; 
     right: -50px !important;
}
.mantine-1v3yzoy {
  width: 50px !important;
  height: 50px !important;

}
.mantine-1v3yzoy:hover {
  box-shadow: 2px 2px 2px 1px rgba(184, 184, 184, 0.2);
}

.Carousel-container .mantine-if1phy{
  @apply  px-0
}
.Carousel-container .mantine-1v3yzoy{
  border: unset !important;
  border-radius: unset !important;
  width: 30% !important; 
  height: 100% !important;
  
}
.Carousel-container .prevIcon{
  background: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.7) 100%) !important;
  border-top-left-radius: 16px !important;
  border-bottom-left-radius: 16px !important;
  width: 100%;
  height: 100%;
  position: relative;
}
.Carousel-container .nextIcon{
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.7) 100%) !important;
  width: 100%;
  height: 100%;
  position: relative;
}

.read-link:hover .read-icon{
    transform: translateX(5px) ;
}
.mantine-eby8v3[data-hovered] {
  background-color: #5d22d5 !important;
  color: white !important;
}
.mantine-jhr97h:focus{
  border-color: #5d22d5 !important;
}

.mantine-Textarea-input:focus{
  border-color: #5d22d5 ;
}
.mantine-1l7xo4v:checked{
  @apply bg-bg_banfsgy border-bg_banfsgy
}
.mantine-Select-input:focus {
  border-color: #5d22d5 !important;
}
.mantine-1bpldn3:focus {
  border-color: #5d22d5 !important;
}
.mantine-egbnkr[data-completed]{
  @apply bg-bg_banfsgy border-bg_banfsgy
}
.mantine-egbnkr[data-progress]{
  @apply  border-bg_banfsgy
}
.mantine-1g59u6r[data-active]{
  @apply bg-bg_banfsgy border-bg_banfsgy
} 
.mantine-1tmqxv8:focus{
   @apply border-bg_banfsgy
}
.mantine-1tmqxv8{
  @apply rounded-[1rem] py-[9px] 
}

.mantine-Select-input {
  padding-top: 23px !important;
  padding-bottom: 23px !important;
  @apply focus:border-bg_banfsgy
}

.mantine-Checkbox-root {
  @apply mt-1
}
.mantine-1wpc1xj{
  -webkit-justify-content: unset !important
}


@media(max-width: 768px) {
  
.mantine-Carousel-controls{
  display: none;
}
}
.mantine-ngxfg2 {
  width: 75% !important;
}

.mantine-gszoqu{
  color: #adb5bd;
  padding: 0 10px;
}


.react-datepicker__month-container{
  width: 100%;
}

.mantine-o00rr2{
 flex-direction: column; 
 margin: 0;
}
.mantine-o00rr2 [data-month-level]:not(:last-of-type){
  margin: 0;
}

.mantine-1emfdtu{
 
  @apply bg-violet-200 rounded-lg 

}
.mantine-CalendarHeader-calendarHeaderLevel{
 @apply font-bold text-bg_banfsgy text-base
}

.mantine-7yisjr[data-in-range]{
  @apply w-full bg-violet-200
}
.mantine-7yisjr[data-selected]{
  @apply  bg-bg_banfsgy
}
.mantine-7yisjr[data-first-in-range] {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.mantine-7yisjr[data-last-in-range] {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.mantine-7yisjr{
   border-radius: 1rem;
}
.mantine-DatePicker-day{
  @apply font-semibold text-base
}
.mantine-sg5nm5{
  @apply text-violet-500
}
.mantine-1cn2mlo{
  @apply py-2
}
.mantine-gszoqu:focus {
  outline: none;
  border-color: #5d22d5 !important;
}
.mantine-7yisjr:hover{
  @apply bg-bg_banfsgy text-white

}
.mantine-7yisjr[data-selected]:hover {
  @apply bg-bg_banfsgy text-white
}
.mantine-1e6hn20:focus{
  @apply border-bg_banfsgy 
}
.mantine-1e6hn20{
  padding-top: 8px;
  padding-bottom: 8px;
}
@media only screen and (max-width: 768px) {
  .mantine-1majj0f{
    max-width: unset !important;
    @apply mx-0 w-full 
  }
  .mantine-Month-month{
    @apply w-full
  }
  .mantine-1emfdtu{
    max-width: unset;
  }
  .mantine-7yisjr[data-selected]:first-child{
    @apply w-full
}



}
